In [1]:
import minna_functions as mf

In [2]:
get_playlist = mf.get_spotify_playlist()

In [3]:
get_playlist.get_playlist_SQL('37i9dQZF1DX7QOv5kjbU68', 'BQCw8KPttwzdum1C5E0K7Nuzf_XwGN9F8V7sn2I_GnYt3wNtYwhMPy8emR1oQmHKjbL8gKI785tXcH4_GfuDyu1nG-feu7ojuaGB-7l1VXZDTPoceGVAZMdK01ZidFLjKKjnwCU5pfoTQpPyWsc', 'songs_info')

In [4]:
df = get_playlist.SQL_to_dataframe('songs_info')
df.head()

,generated_id,song_name,song_id,popularity,artist_name
0,1,Omertà,3kCwyvhvVTyehIzYN2I0nF,79,Drake
1,2,Money In The Grave (Drake ft. Rick Ross),5ry2OE6R2zPQFDO85XkgRb,93,Drake
2,3,Lust For Life,1v24T2ug4TlssYZvI3aL4O,64,Drake
3,4,Houstatlantavegas,3XLSlQLJf3Ut0zvMUxnF1h,63,Drake
4,5,No Guidance (feat. Drake),7FEwp8BavoEVE3AnxJDchc,89,Chris Brown

In [5]:
song_ids = list(df['song_id'])
len(song_ids)

552