In [5]:
import requests
import spotipy
import json
import pandas as pd
import sqlite3

In [2]:
import minna_functions as mf

In [128]:
resp.json().keys()

dict_keys(['collaborative', 'description', 'external_urls', 'followers', 'href', 'id', 'images', 'name', 'owner', 'primary_color', 'public', 'snapshot_id', 'tracks', 'type', 'uri'])

In [125]:
resp.json()['tracks']['items'][8]['track']['name']

'Pop Out (feat. Lil Tjay)'

In [6]:
conn = sqlite3.connect('spotify.db')

In [7]:
c = conn.cursor()

In [8]:
sql = c.execute('SELECT * FROM songs_info_from_playlist')

OperationalError: no such table: songs_info_from_playlist

In [12]:
conn = sqlite3.connect('spotify.db')

In [13]:
c = conn.cursor()

In [2]:
get_playlist = mf.get_spotify_playlist('BQBXQceLyi6gl0OjZEsJkQVEAwXkK9hWyxskUdnoFlGKEBlvM9_ouVMqIAfdFr4a4wex1k8rieC1YakLMNZEIOdDL3vJg7GyUNewNvBw4DDrw3bNlDvHZtgUakNkz1xS9gXvYpAgabRv_k_lolM')

In [3]:
get_playlist.get_playlist_SQL('3JGQFCA14s64xYjj6D7AlI','songs_info')

In [4]:
df = get_playlist.SQL_to_dataframe('songs_info')

In [5]:
df.head()

,generated_id,song_name,song_id,popularity,artist_name,speechiness,danceability
0,1,Do You Want It,6xkj7fkBkPsZCcqeHTGLp4,25,North Galax,None,None
1,2,Señorita,0TK2YIli7K1leLovkQiNik,100,Shawn Mendes,None,None
2,3,Andromeda,4L1bX6H2DlKOcPDWfloxm6,24,North Galax,None,None
3,4,Money In The Grave (Drake ft. Rick Ross),5ry2OE6R2zPQFDO85XkgRb,93,Drake,None,None
4,5,Panini,6fTt0CH2t0mdeB2N9XFG5r,91,Lil Nas X,None,None

In [6]:
temp = get_playlist.song_audio_features(df)

In [13]:
c.execute('''DROP TABLE top_50_USA''')

In [12]:
c.execute('''DROP TABLE test2''')

OperationalError: no such table: test2

In [6]:
conn.close()

In [53]:
df = get_playlist.SQL_to_dataframe('test')
df.head()

,generated_id,song_name,song_id,popularity,artist_name
0,1,Omertà,3kCwyvhvVTyehIzYN2I0nF,78,Drake
1,2,Money In The Grave (Drake ft. Rick Ross),5ry2OE6R2zPQFDO85XkgRb,93,Drake
2,3,Lust For Life,1v24T2ug4TlssYZvI3aL4O,63,Drake
3,4,Houstatlantavegas,3XLSlQLJf3Ut0zvMUxnF1h,62,Drake
4,5,No Guidance (feat. Drake),7FEwp8BavoEVE3AnxJDchc,88,Chris Brown

In [41]:
temp = (",".join(song_ids))

In [ ]:
resp = requests.get(f'https://api.spotify.com/v1/playlists/{playlist_id}', headers = self.headers)
data_json = resp.json()


c = conn.cursor()
c.execute(f'''CREATE TABLE IF NOT EXISTS {table_name}
         ([index] INTEGER PRIMARY KEY,
         [song_name] text, 
         [song_id] text,
         [popularity] integer,
         [artist_name] text,
         [speechiness] float, 
         [danceability] float)''')


for i in data_json['tracks']['items']:  
    c.execute(f'''INSERT INTO {table_name} 
            (song_name, song_id, popularity, artist_name)
            VALUES(?,?,?,?)''', 
            (i['items']['name'],
             i['track']['id'],
             i['track']['popularity'],
             i['track']['artists'][0]['name']))